In [ ]:
import numpy as np #Maths Library 
import matplotlib.pyplot as plt # Viz Library
import matplotlib as mpl # Viz Library
import pandas as pd # Maths Library
import random
import seaborn as sns
import matplotlib as mpl

In [ ]:
mpl.rcParams['font.sans-serif'] = ['SimHei']

In [ ]:
df = pd.read_excel('house.xls')

In [ ]:
print(df.shape)

(23677, 12)

In [71]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [72]:
print(df.dtypes)

Direction      object
District       object
Elevator       object
Floor           int64
Garden         object
Id              int64
Layout         object
Price         float64
Region         object
Renovation     object
Size            int64
Year            int64
dtype: object

In [73]:
print(df.loc[0])

Direction               東西
District               燈市口
Elevator               NaN
Floor                    6
Garden            錫拉胡同21號院
Id            101102647043
Layout                3室1廳
Price                  780
Region                  東城
Renovation              精裝
Size                    75
Year                  1988
Name: 0, dtype: object

In [74]:
nrows=df.shape[0]

In [75]:
lrows=df.shape[0]-1

In [76]:
print(df.loc[lrows])

Direction               南北
District               崇文門
Elevator               NaN
Floor                   15
Garden              新景家園東區
Id            101102657079
Layout                1室1廳
Price                  790
Region                  東城
Renovation              精裝
Size                    81
Year                  2008
Name: 23676, dtype: object

In [77]:
print(df.tail(n=1))

      Direction District Elevator  Floor  Garden            Id Layout  Price  \
23676        南北      崇文門      NaN     15  新景家園東區  101102657079   1室1廳  790.0

      Region Renovation  Size  Year
23676     東城         精裝    81  2008

In [78]:
print(df.loc[[0,99,999]])

    Direction District Elevator  Floor    Garden            Id Layout  Price  \
0          東西      燈市口      NaN      6  錫拉胡同21號院  101102647043   3室1廳  780.0
99         南北     右安門外      NaN      6    玉林東裡一區  101102212420   3室1廳  445.0
999        南北       良鄉      無電梯      6     北潞冠家園  101102535013   3室2廳  362.0

    Region Renovation  Size  Year
0       東城         精裝    75  1988
99      豐台         精裝    69  1995
999     房山         精裝   134  2005

In [79]:
print(df.iloc[1])

Direction               南北
District                東單
Elevator               無電梯
Floor                    6
Garden               東華門大街
Id            101102650978
Layout                2室1廳
Price                  705
Region                  東城
Renovation              精裝
Size                    60
Year                  1988
Name: 1, dtype: object

In [80]:
print(df.iloc[-1])

Direction               南北
District               崇文門
Elevator               NaN
Floor                   15
Garden              新景家園東區
Id            101102657079
Layout                1室1廳
Price                  790
Region                  東城
Renovation              精裝
Size                    81
Year                  2008
Name: 23676, dtype: object

In [81]:
print(df.loc[0:30000,['Price']].mean())

Price    610.668319
dtype: float64

In [82]:
print(df.loc[0:30000,['Size']].mean())

Size    99.149301
dtype: float64

In [83]:
gyearprice=df.groupby('Year')['Price'].mean()

In [84]:
gyearprice.plot()

In [85]:
plt.show()

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23677 entries, 0 to 23676
Data columns (total 12 columns):
Direction     23677 non-null object
District      23677 non-null object
Elevator      15440 non-null object
Floor         23677 non-null int64
Garden        23677 non-null object
Id            23677 non-null int64
Layout        23677 non-null object
Price         23677 non-null float64
Region        23677 non-null object
Renovation    23677 non-null object
Size          23677 non-null int64
Year          23677 non-null int64
dtypes: float64(1), int64(4), object(7)
memory usage: 2.2+ MB

In [87]:
df.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Floor</th>
      <th>Id</th>
      <th>Price</th>
      <th>Size</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>23677.000000</td>
      <td>2.367700e+04</td>
      <td>23677.000000</td>
      <td>23677.000000</td>
      <td>23677.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>12.765088</td>
      <td>1.011024e+11</td>
      <td>610.668319</td>
      <td>99.149301</td>
      <td>2001.326519</td>
    </tr>
    <tr>
      <th>std</th>
      <td>7.643932</td>
      <td>5.652477e+05</td>
      <td>411.452107</td>
      <td>50.988838</td>
      <td>9.001996</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>1.010886e+11</td>
      <td>60.000000</td>
      <td>2.000000</td>
      <td>1950.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>6.000000</td>
      <td>1.011022e+11</td>
      <td>365.000000</td>
      <td>66.000000</td>
      <td>1997.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>11.000000</td>
      <td>1.011025e+11</td>
      <td>499.000000</td>
      <td>88.000000</td>
      <td>2003.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>18.000000</td>
      <td>1.011027e+11</td>
      <td>717.000000</td>
      <td>118.000000</td>
      <td>2007.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>57.000000</td>
      <td>1.011028e+11</td>
      <td>6000.000000</td>
      <td>1019.000000</td>
      <td>2017.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [88]:
dfdf=df.copy()

In [89]:
dfdf['pricepersize']=df['Price']/df['Size']

In [ ]:
dfdf['Layout'].value_counts()

In [ ]:
dfdf['layout_room_num'] = df['Layout'].str.extract('(^\d).*', expand=False).astype('float')

In [ ]:
dfdf['layout_hall_num'] = df['Layout'].str.extract('^\d.*?(\d).*', expand=False).astype('float')

In [90]:
dfcolumns=['Region','District','Garden','Layout','layout_room_number','layout_hall_num','Floor','Year','Size','Elevator',
           'Direction','Renovation','pricepersize','Price']

In [ ]:
# dfcolumns=['Region','District','Garden','Layout','Floor','Year','Size','Elevator',
#            'Direction','Renovation','sizeperprice','Price']

In [91]:
dfdf=pd.DataFrame(dfdf,columns=dfcolumns)

In [93]:
dfdfhouse_count=dfdf.groupby('Region')['Price'].count().sort_values\
    (ascending=False).to_frame().reset_index()

In [94]:
dfdfhouse_mean=dfdf.groupby('Region')['pricepersize'].mean().sort_values\
    (ascending=False).to_frame().reset_index()

In [95]:
f, [hx1,hx2,hx3] = plt.subplots(3,1,figsize=(20,15))

In [96]:
sns.barplot(x='Region', y='pricepersize', palette="Blues_d", 
            data=dfdfhouse_mean,ax=hx1)

In [97]:
hx1.set_title('Beijing house unit price per location', fontsize=12)

Text(0.5,1,'Beijing house unit price per location')

In [98]:
hx1.set_xlabel('Location')

Text(0.5,0,'Location')

In [99]:
hx1.set_ylabel('original price per location')

In [100]:
sns.barplot(x='Region', y='Price', palette="Greens_d", data=\
dfdfhouse_count, ax=hx2)

In [101]:
hx2.set_title('Beijing house quantity per location', fontsize=12)

Text(0.5,1,'Beijing house quantity per location')

In [102]:
hx2.set_xlabel('Location')

Text(0.5,0,'Location')

In [103]:
hx2.set_ylabel('Quantity')

Text(0,0.5,'Quantity')

In [104]:
sns.boxplot(x='Region', y='Price', data=df, ax=hx3)

In [105]:
hx3.set_title('Total price per location',fontsize=12)

Text(0.5,1,'Total price per location')

In [106]:
hx3.set_xlabel('Location')

Text(0.5,0,'Location')

In [107]:
hx3.set_ylabel('Total Price')

Text(0,0.5,'Total Price')

In [109]:
plt.show()

In [110]:
dfdf = dfdf[(dfdf['Layout']!='叠拼别墅')&(dfdf['Size']<1000)]

In [111]:
f, [hx1,hx2] = plt.subplots(1, 2, figsize=(15, 5))

In [112]:
sns.distplot(dfdf['Size'], bins=20, ax=hx1, color='r')

In [113]:
sns.kdeplot(dfdf['Size'], shade=True, ax=hx1)

In [114]:
sns.regplot(x='Size', y='Price', data=dfdf, ax=hx2)

C:\Users\user1\AppData\Local\Programs\Python\Python36\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

In [115]:
plt.show()

In [117]:
f, hx1= plt.subplots(figsize=(20,20))

In [118]:
sns.countplot(y='Layout', data=df, ax=hx1)

In [119]:
hx1.set_title('Type of house',fontsize=15)

Text(0.5,1,'Type of house')

In [120]:
hx1.set_xlabel('Quantity')

Text(0.5,0,'Quantity')

In [121]:
hx1.set_ylabel('Type')

Text(0,0.5,'Type')

In [122]:
plt.show()

In [ ]:
df['Renovation'] = df.loc[(df['Renovation'] != '南北'), 'Renovation']

In [125]:
df['Renovation'].value_counts()

精裝    11345
簡裝     8497
其他     3239
毛坯      576
Name: Renovation, dtype: int64

In [ ]:
dfdf['Renovation'] = dfdf.loc[(dfdf['Renovation'] != '南北'), 'Renovation']

In [ ]:
f, [hx1,hx2,hx3] = plt.subplots(1, 3, figsize=(20, 5))

In [ ]:
sns.countplot(dfdf['Renovation'], ax=hx1)

In [ ]:
sns.barplot(x='Renovation', y='Price', data=dfdf, ax=hx2)

In [ ]:
sns.boxplot(x='Renovation', y='Price', data=dfdf, ax=hx3)

In [ ]:
plt.show()

In [126]:
noelevator = len(df.loc[(df['Elevator'].isnull()), 'Elevator'])

In [127]:
print('No Elevator：'+ str(noelevator))

No Elevator：8237

In [129]:
dfdf['Elevator'] = dfdf.loc[(dfdf['Elevator'] == '有电梯')|(dfdf\
['Elevator'] == '无电梯'), 'Elevator']

In [130]:
dfdf.loc[(dfdf['Floor']>6)&(dfdf['Elevator'].isnull()), 'Elevator'] = '有电梯'

In [131]:
dfdf.loc[(dfdf['Floor']<=6)&(dfdf['Elevator'].isnull()), 'Elevator'] = '无电梯'

In [132]:
f, [hx1,hx2] = plt.subplots(1, 2, figsize=(20, 10))

In [133]:
sns.countplot(df['Elevator'], ax=hx1)

In [134]:
hx1.set_title('elevator compare',fontsize=15)

Text(0.5,1,'elevator compare')

In [135]:
hx1.set_xlabel('have elevator')

Text(0.5,0,'have elevator')

In [136]:
hx1.set_ylabel('elevator quantity')

Text(0,0.5,'elevator quantity')

In [137]:
sns.barplot(x='Elevator', y='Price', data=dfdf, ax=hx2)

C:\Users\user1\AppData\Local\Programs\Python\Python36\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

In [138]:
hx2.set_title('have elevator compare with price',fontsize=15)

Text(0.5,1,'have elevator compare with price')

In [139]:
hx2.set_xlabel('have elevator')

Text(0.5,0,'have elevator')

In [140]:
hx2.set_ylabel('total price')

Text(0,0.5,'total price')

In [141]:
plt.show()

In [ ]:
dfgrid = sns.FacetGrid(dfdf, row='Elevator',\
col='Renovation', palette='seismic',height=4)

C:\Users\user1\AppData\Local\Programs\Python\Python36\lib\site-packages\seaborn\axisgrid.py:230: UserWarning: The `size` paramter has been renamed to `height`; please update your code.
  warnings.warn(msg, UserWarning)

In [143]:
dfgrid.map(plt.scatter, 'Year', 'Price')

In [144]:
dfgrid.add_legend()

In [ ]:
f, hx1= plt.subplots(figsize=(20,5))

In [146]:
sns.countplot(x='Floor', data=dfdf, ax=hx1)

In [147]:
hx1.set_title('Floor',fontsize=15)

Text(0.5,1,'House Type')

In [148]:
hx1.set_xlabel('Floor')

Text(0.5,0,'Quantity')

In [149]:
hx1.set_ylabel('Quantity')

Text(0,0.5,'House Type')

In [150]:
plt.show()